@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=IBM+Plex+Sans+JP&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monda:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-link: rgba(0, 81, 255, 1);
  --color-pry-dark-blue: rgba(0, 21, 65, 1);
  --font-montserrat: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-sans: "Open Sans", sans-serif;
  --breakpoint-xs: 30rem
}



body {
  @apply font-montserrat;
  background: var(--background);
  color: var(--foreground);
}

.main_wrapper {
  @apply max-w-7xl mx-auto px-5
}

.main_wrapper_home {
  @apply relative opacity-0 translate-y-[30px] scale-90 z-50 max-w-7xl mx-auto 
}

.main_wrapper_oth {
  @apply fixed w-full left-0 right-0 opacity-0 translate-y-[30px] scale-90 z-50;
  background: var(--background);
  color: var(--foreground);
}

.nav_wrapper_home {
  @apply max-lg:w-[90%] max-lg:mx-auto bg-white text-pry-dark-blue rounded-4xl absolute top-5 md:top-15  w-[95%] left-1/2 -translate-x-1/2 z-[99] xl:px-10
}

.nav_wrapper_oth {
  @apply w-full max-w-7xl !rounded-none mx-auto;
  
}

.active {
  @apply h-0.5 mx-auto rounded-xl bg-blue-500 w-[80%] translate-y-0.5
}

.button {
  @apply font-poppins bg-blue-500 text-white p-5 capitalize
}

.mobile_menu {
  @apply absolute z-10 top-0 left-0 w-full sm:px-16 p-5 md:hidden transition-all duration-300;
  background: var(--background);
  color: var(--foreground);
}

.menu_link {
  @apply block max-md:text-lg md:font-medium hover:text-gray-500 max-lg:text-[10px] xl:text-xl;
}

.footer,
.main_wrapper_oth {
  @apply bg-[#EFEFEF];
  box-shadow: 0px 0px 2px 1px gray;
}

.footer_svg {
 @apply mr-1.5 w-[15px];
 color: var(--foreground);
}

.footer_nav {
  @apply max-md:w-[80%] max-lg:w-[40%] pt-7 max-sm:text-sm lg:flex lg:justify-between lg:items-start
}

.footer_nav section {
  @apply lg:w-[14%] mb-5
}

.footer_nav section:first-child {
  @apply lg:w-[33%]
}

.footer_nav section:nth-child(3),
.footer_nav section:nth-child(4) {
  @apply lg:w-[20%]
}

.footer_nav section h3{
  @apply lg:mb-5
}

.subscribe {
  @apply pl-3 flex items-center bg-white border-0 justify-between rounded-3xl mt-3;
  /* border-color: var(--foreground); */
}

.terms {
  @apply flex justify-between items-center max-sm:text-sm max-sm:w-[70%] lg:gap-7
}


.services {
 @apply py-12
}

.header_text {
  @apply my-5 ; 
}

.header_text h3,
.header {
  @apply mt-5 text-2xl font-semibold
}

.first_service {
  @apply h-[75vh] md:col-span-full md:relative md:h-[100vh] 
}

.first_service_image {
  @apply h-full max-md:object-right object-cover w-full rounded-lg;
}

.first_service .header_text  {
  @apply w-[90%] max-md:left-1/2 max-md:-translate-x-1/2  max-lg:absolute max-lg:bottom-3.5 bg-[#0000005d] h-fit px-5 pb-3 md:absolute top-[33%]  md:top-[58%] md:-translate-y-1/2 md:w-8/12 lg:w-6/12 md:left-10 text-white;
}

.first_service .header_text p {
  @apply text-sm max-md:my-2 max-md:leading-6 xl:text-lg my-5 xl:leading-10
}

.first_service .header_text h3 {
  @apply text-3xl md:text-6xl
}

.video-carousel_container {
    @apply relative sm:w-[70vw] w-[88vw] md:h-[70vh] sm:h-[50vh] h-[35vh]
}

.review_wrapper {
  @apply py-10 mx-auto;
  background: var(--foreground);
  max-width: 1440px;
  color: var(--background); 
}

/************** Swiper Indicator *************/

.swiper-pagination {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px); 
  border-radius: 20px !important; 
  padding: 15px; 
  bottom: 10px !important; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-50%)  !important;
}

/* Style the pagination bullets */
.swiper-pagination-bullet {
   background: white !important;
   opacity: 1 !important; 
   width: 10px !important;
   height: 10px !important;
  transition: all 0.3s ease-in-out;
}

/* Active bullet styling */
.swiper-pagination-bullet-active {
  background: blue !important; 
  opacity: 1;
  transform: scale(1.2); 
}


/********* Detail Page *********/

.detail,
.checkout {
  @apply pt-12 lg:pt-24 px-2
}

.detail p,
.checkout p {
  @apply leading-7 md:text-lg md:leading-9
}

.checkout p {
  @apply max-sm:text-[15px]
}


.booking-sec {
  @apply flex font-poppins font-medium justify-center gap-3 mx-auto items-center my-5 text-blue-600 max-md:w-[98%]

}

.booking_down {
  @apply h-fit p-5 rounded-lg py-10;
}

.booking-sec button {
  @apply p-2 px-4 text-sm

}

.checkout h2  {
  @apply font-semibold text-2xl 
}

.checkout_main {
  @apply mt-8 lg:flex lg:justify-between
}

.checkout_form {
  @apply w-full
}

.checkout_form label {
  @apply flex items-baseline gap-[3px] mb-2 capitalize font-poppins font-medium
}

.asterisk {
  @apply text-red-500 text-[8px] -translate-y-1;
}

.checkout input,
.checkout textarea {
  @apply max-xs:w-full max-md:w-[70%] max-lg:w-[50%] w-full border-[1px] p-4 outline-0 rounded-lg;
  border-color: var(--foreground);
}

.checkout textarea {
  @apply min-h-[120px]
}

.option {
  @apply px-4 py-2 cursor-pointer;
  color: var(--background);
  background-color: var(--foreground);
}





@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  .footer,
  .main_wrapper_oth {
    @apply bg-[#0a0a0a];
  }

  .subscribe {
    @apply bg-[#272222]
  }
}

@media (min-width: 1024px) {
  .booking_down {
    background-color: var(--background);
  box-shadow: 0px 0px 5px 1px gray;
  }
}