@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=IBM+Plex+Sans+JP&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monda:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-link: rgba(0, 81, 255, 1);
  --color-pry-dark-blue: rgba(0, 21, 65, 1);
  --font-montserrat: "Montserrat", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply font-montserrat;
  background: var(--background);
  color: var(--foreground);
}

.main_wrapper {
  @apply max-w-7xl mx-auto px-5
}

.nav_wrapper {
  @apply bg-white text-pry-dark-blue rounded-3xl absolute top-5 flex justify-between items-center py-2 px-5 md:w-[95%] left-1/2 -translate-x-1/2 z-[99]
}

.mobile_menu {
  @apply absolute z-10 top-0 left-0 w-full sm:px-16 p-5 md:hidden transition-all duration-300;
  background: var(--background);
  color: var(--foreground);
}

.menu_link {
  @apply block max-md:text-lg md:font-medium hover:text-gray-500 max-lg:text-[10px] text-[15px];
}

.footer {
  box-shadow: 0px 0px 2px 1px gray;
}

.footer_nav {
  @apply max-md:w-[70%] max-lg:w-[80%] pt-7 max-sm:text-sm lg:flex lg:justify-between lg:items-start
}

.footer_nav section {
  @apply lg:w-[10%] mb-5
}

.footer_nav section:first-child {
  @apply lg:w-[33%]
}

.footer_nav section:nth-child(3),
.footer_nav section:nth-child(4) {
  @apply lg:w-[20%]
}

.footer_nav section h3{
  @apply lg:mb-5
}

.terms {
  @apply flex justify-between items-center max-sm:text-sm max-sm:w-[70%] lg:gap-7
}


.services {
 @apply py-12
}

.header_text {
  @apply my-5 
}

.header_text h3 {
  @apply my-5 font-semibold text-3xl
}

.first_service {
  @apply md:col-span-full md:relative md:h-[100vh] 
}

.first_service_image {
  @apply md:h-full h-[40vh] w-full object-cover rounded-lg;
}

.first_service .header_text  {
  @apply md:absolute md:top-1/2 md:-translate-y-1/2 md:w-8/12 lg:w-6/12 md:left-10 md:text-white;
}

.first_service .header_text p {
  @apply xl:text-2xl xl:leading-10
}

.first_service .header_text h3 {
  @apply text-4xl
}

.video-carousel_container {
    @apply relative sm:w-[70vw] w-[88vw] md:h-[70vh] sm:h-[50vh] h-[35vh]
  }